body {
	font-family: Arial, sans-serif;
}

nav {
	widows: 100%;
	height: 60px;
	background: #344051;

}

.logo {
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 388px;
	float: left;

}

.menu {
	float: left;
	padding-left: 432px;

}

.menu li {
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;

}

.main {
	width: 100%;
	height: calc(100% - 60px);
	background: url(../img/boy.png)90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container {
	float: left;
	margin: 432px 0px 0px 404px;
	color: #2c384a;
	text-align: center;

}

.title__container h1 {
	font-size: 60px;
	font-weight: bold;

}

.title__container h4 {
	margin-top: 40px;
	font-size: 16px;
	color: #79818d;

}

.title__container input {
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 50px 28px 0 14px;

}

.about_me {
	width: 100%;
	height: calc(100% - 200px);
	background: url(../img/boy2.png)center no-repeat;
}

.about_me2 {
	color: #2c384a;
	text-align: center;
	padding-top: 100px;
	white-space: nowrap;
	line-height: 2;
	font-size: 31px;
	font-weight: bold;
	text-transform: uppercase;

}

.about_me2 h2 {
	font-weight: bold;
}

.first {

	padding-top: 300px;
	color: #6f707e;
	text-align: center;



}

.second {
	text-align: center;
	;
	padding-top: 50px;
	color: #6f707e;

}

.item {

	width: 155px;
	height: 33px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 10px;
	white-space: nowrap;
	color: #6f707e;
	padding: 8px 16px;

}

.item {
	margin: 1% auto;
}

.Down {
	color: #6f707e;
	font-weight: 500;

}

.what_can_i_do {
	width: 100%;
	height: calc(100% - 400px);
	background: url(../img/wallp.png) no-repeat;
}



.what_can_i_do2 {
	color: #2c384a;
	padding-top: 100px;
	line-height: 2;
	text-align: center;
	white-space: nowrap;
	font-size: 31px;

	text-transform: uppercase;

}

.what_can_i_do2 h2 {
	font-weight: bold;

}

.what_can_i_do h3 {
	color: #cf7600;
	font-weight: bold;
	line-height: 2;
	padding-top: 20px;
}

.web-desige {


	float: left;
	width: 200px;
	text-align: center;
	margin: 100px 50px 150px 350px;
	color: #2c384a;
}

.development {

	float: left;
	width: 200px;
	text-align: center;
	margin: 100px 25px 150px 100px;
	color: #2c384a;
}

.ceo {
	float: left;
	width: 200px;
	text-align: center;
	margin: 100px 25px 150px 100px;
	color: #2c384a;
}

.market {
	float: left;
	width: 200px;
	text-align: center;
	margin: 100px 0px 150px 100px;
	color: #2c384a;
}


.cases {
	width: auto;
	height: auto;

}

.cases2 {
	font-size: 31px;
	text-align: center;
	padding-top: 108px;
	line-height: 2;

	text-transform: uppercase;
	color: #2c384a;

}

.cases2 h2 {
	font-weight: bold;
}

.text {

	text-align: center;
	font-size: 13px;
	padding-bottom: 50px;
}

.fon {
	text-align: center;
}

.client {
	padding-top: 15px;
	text-align: left;
	width: 35%;
	padding-left: 389px;
	float: left;

}

.client h3 {

	font-size: 21px;
	text-transform: uppercase;
	font-weight: bold;
	color: #2c384a;

}

.client h4 {

	font-style: oblique;

	padding-top: 12px;
	padding-bottom: 10px;
	font-size: 11px;
	padding-top: 15px;
	color: #2c384a;
}



.nameproject {

	text-align: left;
	font-size: 133px;
	color: #2c384a;
}

.nameproject h3 {
	font-weight: bold;

	font-size: 20px;
	padding-top: 15px;
	color: #2c384a;
}

.nameproject h4 {
	font-style: oblique;

	font-size: 15px;
	padding-top: 15px;
	color: #2c384a;
}

.http {
	padding-top: 40px;
	padding-left: 385px;
}

button {

	display: inline-block;
	background: #63b5ae;
	color: #fff;
	padding: 10px 15px;
	text-decoration: inherit;
	font-weight: bold;
	border-radius: 3px;
}

.price {
	width: auto;
	height: auto;
	padding-top: 100px;
}

.price2 {
	font-size: 31px;
	text-align: center;
	padding-top: 108px;
	line-height: 2;
	font-weight: bold;
	text-transform: uppercase;
	color: #2c384a;

}

.price2 h2 {

	font-weight: bold;
}

.costs {
	width: auto;

	height: auto;
	text-align: left;
	padding-left: 501px;
}

.costs h3 {
	font-size: 23px;
	text-transform: uppercase;
	font-weight: bold;
	color: #2c384a;
	line-height: 2;
}

.costs select {
	width: 893px;
	height: 55px;
	background: #eeeeee;
	color: #737373;
	padding: 10px 15px;
	text-decoration: inherit;
	font-weight: bold;


}

.line {
	padding-top: 15px;
	text-align: left;
	padding-left: 501px;
}

.sale h3 {
	padding-left: 501px;
	font-size: 19px;
	word-spacing: 770px;
	font-weight: bold;
	color: #2c384a;
	line-height: 2;
}

.sale2 h3 {
	padding-left: 501px;
	font-size: 19px;
	word-spacing: 816px;
	font-weight: bold;
	color: #2c384a;
	line-height: 2;
}

.some_statistics {
	width: 100%;
	height: calc(100% - 300px);
	background: url(../img/wallp2.png)center no-repeat;
}

.some_statistics2 {
	font-size: 31px;
	text-align: center;
	padding-top: 108px;
	line-height: 2;
	text-transform: uppercase;
	color: #2c384a;
}

.some_statistics2 h2 {
	font-weight: bold;

}

.happy {
	float: left;
	width: 200px;
	text-align: center;
	margin: 100px 50px 150px 300px;
	color: #2c384a;
}

.happy h3 {
	font-weight: bold;
	font-size: 33px;
	line-height: 2;

}

.happy h4 {
	font-size: 15px;
	font-weight: bold;
	font-style: oblique;
}

.hours {
	float: left;
	width: 200px;
	text-align: center;
	margin: 100px 50px 150px 100px;
	color: #2c384a;
}

.hours h3 {
	font-weight: bold;
	font-size: 33px;
	line-height: 2;
}

.hours h4 {
	font-size: 15px;
	font-weight: bold;
	font-style: oblique;
}

.project {
	float: left;
	width: 200px;
	text-align: center;
	margin: 100px 50px 150px 100px;
	color: #2c384a;
}

.project h3 {
	font-weight: bold;
	font-size: 33px;
	line-height: 2;
}

.project h4 {
	font-size: 15px;
	font-weight: bold;
	font-style: oblique;
}

.prizes{
	float: left;
	width: 200px;
	text-align: center;
	margin: 100px 50px 150px 100px;
	color: #2c384a;
}
.prizes h3{
	font-weight: bold;
	font-size: 33px;
	line-height: 2;
} 

.prizes h4{
	font-size: 15px;
	font-weight: bold;
	font-style: oblique;
}

.reviews{
	width: 100%;
	height: calc(100% - 300px);
}
.reviews2{
	font-size: 31px;
	text-align: center;
	padding-top: 108px;
	line-height: 2;
	text-transform: uppercase;
	color: #2c384a;
}
.reviews2 h2{
	font-weight: bold;
}
.text2 {
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	padding-bottom: 50px;
	line-height: 3;
	color: #2c384a;
}
.foter{
	width: 100%;
	height: 800px;
	background: url(../img/fon2.png) no-repeat;
}
.foter2{
		font-size: 31px;
	text-align: center;
	padding-top: 108px;
	line-height: 2;
	
	color: #fff;
	
}
.foter2 h2{
	font-weight: bold;
	text-transform: uppercase;
}
.foter2 h3{
	font-size: 13px;
	font-style: initial
}

.geo{
	
	float:left;
	width:auto;
	height:auto;
	text-align: center;
	color: #fff;
	line-height: 1.5;
	padding-top: 20px;
	padding-left: 674px;
	
}
.mail {
	
	padding-top: 20px;
	padding-left: 59px;
	float:left;
	width:auto;
	height: auto;
	text-align: center;
	color: #fff;
	line-height: 1.5;
}
.phone{

	padding-top: 20px;
	padding-left: 90px;
	float:left;
	width:auto;
	height:auto;
	text-align: center;
	color: #fff;
	line-height: 1.5;
}
.sms h3{
	font-size: 15px;
	text-align: center;
	padding-top:  170px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}


.name{
	margin: 20px 50px 0px 550px;
}
.name{
	text-align: left;
	line-height: 2;
	width: 352px;
	height: 37px;
	background: #d2d6dc;
	color: #737373;
	padding: 10px 15px;
	text-decoration: inherit;
	font-weight: bold;
	
	

}

.e-mail{
	text-align:left;
	width: 352px;
	height: 37px;
	background: #d2d6dc;
	color: #737373;
	padding: 10px 15px;
	text-decoration: inherit;
	font-weight: bold;
}

.text_area{
	margin: 29px 100px 10px 550px;
	
}
.text_area {
	text-align: left;
	width: 763px;
	height: 100px;
	background: #d2d6dc;
	color: #737373;
	padding: 10px 15px;
	text-decoration: inherit;
	font-weight: bold;
}
.reset{
	margin: 5px 0px 30px 900px
}
.reset{

	text-align: center;
	border: 3px solid #fff;
	background: none;
	border-radius: 5px;
	color: #fff;
	font-size: 13px;
	padding: 10px 16px;
	
}