 
 

 .price {
 	width: auto;
 	height: auto;
 	padding-top: 100px;
 }

 .price2 {
 	font-size: 31px;
 	text-align: center;
 	padding-top: 108px;
 	line-height: 2;
 	font-weight: bold;
 	text-transform: uppercase;
 	color: #2c384a;

 }

 .price2 h2 {

 	font-weight: bold;
 }

 .costs {
 	width: auto;

 	height: auto;
 	text-align: left;
 	padding-left: 501px;
	 animation: flash;
	 animation-duration: 3s;
 }

 .costs h3 {
 	font-size: 23px;
 	text-transform: uppercase;
 	font-weight: bold;
 	color: #2c384a;
 	line-height: 2;
 }

 .costs select {
 	width: 893px;
 	height: 55px;
 	background: #eeeeee;
 	color: #737373;
 	padding: 10px 15px;
 	text-decoration: inherit;
 	font-weight: bold;


 }

 .line {
 	padding-top: 15px;
 	text-align: left;
 	padding-left: 501px;
 }

 .sale h3 {
 	padding-left: 501px;
 	font-size: 19px;
 	word-spacing: 770px;
 	font-weight: bold;
 	color: #2c384a;
 	line-height: 2;
 }

 .sale2 h3 {
 	padding-left: 501px;
 	font-size: 19px;
 	word-spacing: 816px;
 	font-weight: bold;
 	color: #2c384a;
 	line-height: 2;
 }

 .parallax {

 	background: url(../img/wallp2.png);


 	height: 500px;


 	background-attachment: fixed;
 	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 }


 .some_statistics2 {
 	font-size: 31px;
 	text-align: center;
 	padding-top: 108px;
 	line-height: 2;
 	text-transform: uppercase;
 	color: #2c384a;
 }

 .some_statistics2 h2 {
 	font-weight: bold;

 }

 .happy {
 	float: left;
 	width: 200px;
 	text-align: center;
 	margin: 100px 50px 150px 300px;
 	color: #2c384a;
 }

 .happy h3 {
 	font-weight: bold;
 	font-size: 33px;
 	line-height: 2;

 }

 .happy h4 {
 	font-size: 15px;
 	font-weight: bold;
 	font-style: oblique;
 }

 .hours {
 	float: left;
 	width: 200px;
 	text-align: center;
 	margin: 100px 50px 150px 100px;
 	color: #2c384a;
 }

 .hours h3 {
 	font-weight: bold;
 	font-size: 33px;
 	line-height: 2;
 }

 .hours h4 {
 	font-size: 15px;
 	font-weight: bold;
 	font-style: oblique;
 }

 .project {
 	float: left;
 	width: 200px;
 	text-align: center;
 	margin: 100px 50px 150px 100px;
 	color: #2c384a;
 }

 .project h3 {
 	font-weight: bold;
 	font-size: 33px;
 	line-height: 2;
 }

 .project h4 {
 	font-size: 15px;
 	font-weight: bold;
 	font-style: oblique;
 }

 .prizes {
 	float: left;
 	width: 200px;
 	text-align: center;
 	margin: 100px 50px 150px 100px;
 	color: #2c384a;
 }

 .prizes h3 {
 	font-weight: bold;
 	font-size: 33px;
 	line-height: 2;
 }

 .prizes h4 {
 	font-size: 15px;
 	font-weight: bold;
 	font-style: oblique;
 }

 .reviews {
 	margin: 10% 10%;
 }

 .reviews2 {
 	font-size: 31px;
 	text-align: center;
 	padding-top: 108px;
 	line-height: 2;
 	text-transform: uppercase;
 	color: #2c384a;
 }

 .reviews2 h2 {
 	font-weight: bold;
 }

 .text2 {
 	font-weight: bold;
 	text-align: center;
 	font-size: 13px;
 	padding-bottom: 50px;
 	line-height: 3;
 	color: #2c384a;
 }

 .foter {
 	width: 100%;
 	height: 800px;
 	background: url(../img/fon2.png) no-repeat;
 }

 .foter2 {
 	font-size: 31px;
 	text-align: center;
 	padding-top: 108px;
 	line-height: 2;

 	color: #fff;

 }

 .foter2 h2 {
 	font-weight: bold;
 	text-transform: uppercase;
 }

 .foter2 h3 {
 	font-size: 13px;
 	font-style: initial
 }

 .geo {

 	float: left;
 	width: auto;
 	height: auto;
 	text-align: center;
 	color: #fff;
 	line-height: 1.5;
 	padding-top: 20px;
 	padding-left: 674px;

 }

 .mail {

 	padding-top: 20px;
 	padding-left: 59px;
 	float: left;
 	width: auto;
 	height: auto;
 	text-align: center;
 	color: #fff;
 	line-height: 1.5;
 }

 .phone {

 	padding-top: 20px;
 	padding-left: 90px;
 	float: left;
 	width: auto;
 	height: auto;
 	text-align: center;
 	color: #fff;
 	line-height: 1.5;
 }

 .sms h3 {
 	font-size: 15px;
 	text-align: center;
 	padding-top: 170px;
 	font-weight: bold;
 	text-transform: uppercase;
 	color: #fff;
 }


 .name {
 	margin: 20px 50px 0px 550px;
 }

 .name {
 	text-align: left;
 	line-height: 2;
 	width: 352px;
 	height: 37px;
 	background: #d2d6dc;
 	color: #737373;
 	padding: 10px 15px;
 	text-decoration: inherit;
 	font-weight: bold;



 }

 .e-mail {
 	text-align: left;
 	width: 352px;
 	height: 37px;
 	background: #d2d6dc;
 	color: #737373;
 	padding: 10px 15px;
 	text-decoration: inherit;
 	font-weight: bold;
 }

 .text_area {
 	margin: 29px 100px 10px 550px;

 }

 .text_area {
 	text-align: left;
 	width: 763px;
 	height: 100px;
 	background: #d2d6dc;
 	color: #737373;
 	padding: 10px 15px;
 	text-decoration: inherit;
 	font-weight: bold;
 }

 .reset {
 	margin: 5px 0px 30px 900px
 }

 .reset {
	display: inline-block;
 	
 	
 	
 	text-decoration: inherit;
 	font-weight: bold;
 	border-radius: 3px;

 	text-align: center;
 	border: 3px solid #fff;
 	background: none;
 	border-radius: 5px;
 	color: #fff;
 	font-size: 13px;
 	padding: 10px 16px;

 }
.reset:active{
	color: blue;
	border-color: red;
	background: red;
	transition: width 2s, height 2s, background-color 2s, transform 2s;
	transform: scale(1.5);
	
}
foter{
	height: 100%;
	width: 100%;
	float: left;
}